@page "/tableauDeBord"

@using Facturations.Shared

@inject HttpClient http

<h1>Tableau de bord</h1>

<h3>Liste des fatures</h3>
<p>Voici un tableau de bord qui répertorie toutes vos factures et leur état.</p>

@if (factures == null)
{
    <p><em>Vous n'avez pas de factures en cours...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Client</th>
                <th>Numéro</th>
                <th>Date d'émission</th>
                <th>Date de règlement attendu</th>
                <th>Montant dû</th>
                <th>Montant réglé</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var facture in factures)
            {
            <tr>
                <td>@facture.client</td>
                <td>@facture.reference</td>
                <td>@facture.dateEmission</td>
                <td>@facture.dateReglementAttendu</td>
                <td>@facture.montantDu</td>
                <td>@facture.montantRegle</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {        

    private IEnumerable<Facture> factures = null;
    protected async override Task OnInitializedAsync()
    {
        factures = await http.GetFromJsonAsync<IEnumerable<Facture>>("api/factures");
    }

}
